section.component-demo
  h2.subtitle Демо
  pre
    code.

          const wordEndings = {
            'yearsEndings': {
             firstState: 'лет',
              secondState: 'год',
              thirdState: 'года',
              fourthState: 'лет',
            },
            'monthEndings': {
              firstState: 'месяцев',
              secondState: 'месяц',
              thirdState: 'месяца',
              fourthState: 'месяцев',
            },
          };

          export const inclineWord = (num, type) => {
            let n = num ? num.toString() : '1';
            let last = n.slice(-1);
            let twoLast = n.slice(-2);
            if (twoLast === '11' || twoLast === '12' || twoLast === '13' || twoLast === '14') {
              return `${n} ${wordEndings[type].firstState}`;
            }
            if (last === '1') {
              return `${n} ${wordEndings[type].secondState}`;
            }
            if (last === '2' || last === '3' || last === '4') {
              return `${n} ${wordEndings[type].thirdState}`;
            }
            return `${n} ${wordEndings[type].fourthState}`;
          };
  p Примеры вызова и получаемы результаты:
  p inclineWord(1, 'yearsEndings') => 1 год
  p inclineWord(2, 'yearsEndings') => 2 года
  p inclineWord(11, 'yearsEndings') => 11 лет
  p inclineWord(21, 'yearsEndings') => 21 год
  p inclineWord(1, 'monthEndings') => 1 месяц
  p inclineWord(2, 'monthEndings') => 2 месяца
  p inclineWord(11, 'monthEndings') => 11 месяцев
  p inclineWord(21, 'monthEndings') => 21 месяц

