mixin custom-select(options = {})
  - const selectLabel = options.label ? options.label : false
  - const selectError = options.error ? options.error : false
  - const selectPlaceholder = options.placeholder ? options.placeholder : false
  - const buttonAriaLabel = options.buttonAriaLabel ? options.buttonAriaLabel : "Выберите одну из опций"
  - const disabledState = options.disabled ? true : false

  div&attributes(attributes)
    if selectLabel
      span.custom-select__label=selectLabel
    if selectError
      span.custom-select__error=selectError
    if selectPlaceholder
      span.custom-select__placeholder=selectPlaceholder
    button.custom-select__button(type="button", aria-label=buttonAriaLabel, disabled=disabledState)
      span.custom-select__text
      span.custom-select__icon
    ul.custom-select__list(role="listbox")
      each item in options.optionsList
        - const ariaSelected = item.isActive ? "true" : "false"
        li.custom-select__item(class=itemClass, tabindex="0", data-select-value=item.value, aria-selected=ariaSelected, role="option")=item.text

section.component-demo(data-tabs='element')
  form(action="#")
    h2.subtitle Базовый селект
    p #[b Базовый селект c placeholder]
    +custom-select({placeholder: "Выберите одну из опций", error: "Выберите тему обращения", optionsList: [{text: "Тема 1", value: "id-1"}, {text: "Тема 2", value: "id-2"}, {text: "Тема 3", value: "id-3"}, {text: "Тема 4", value: "id-4"}, {text: "Тема 5", value: "id-5"}, {text: "Тема 6", value: "id-6"}]})(data-select, data-validate-type="select", data-name="some-name", data-id="id-example-1").custom-select
    p #[b Базовый селект с атрибутом disabled на кнопке]
    +custom-select({
      label: "Выберите одну из опций", error: "Выберите тему обращения", disabled: true, optionsList: [{text: "Тема 1", value: "id-1"}, {text: "Тема 2", value: "id-2"}, {text: "Тема 3", value: "id-3"}, {text: "Тема 4", value: "id-4"}, {text: "Тема 5", value: "id-5"}, {text: "Тема 6", value: "id-6"}]
      })(data-select, data-validate-type="select", data-name="some-name", data-id="id-example-2").custom-select
    p #[b Базовый селект c выбранной опцией]
    +custom-select({error: "Выберите тему обращения", optionsList: [{text: "Тема 1", value: "id-1", isActive: true}, {text: "Тема 2", value: "id-2"}, {text: "Тема 3", value: "id-3"}, {text: "Тема 4", value: "id-4"}, {text: "Тема 5", value: "id-5"}, {text: "Тема 6", value: "id-6"}]})(data-select, data-validate-type="select", data-name="some-name", data-id="id-example-3").custom-select
    hr
    h2.subtitle Селект с мультивыбором
    p #[b Селект с мультивыбором без вставки текста в кнопку]
    +custom-select({error: "Выберите тему обращения", optionsList: [{text: "Тема 1", value: "id-1", isActive: true}, {text: "Тема 2", value: "id-2"}, {text: "Тема 3", value: "id-3"}, {text: "Тема 4", value: "id-4"}, {text: "Тема 5", value: "id-5"}, {text: "Тема 6", value: "id-6"}]})(data-select, data-validate-type="select", data-name="some-name", data-id="id-example-4", data-multiple="true").custom-select.slide-up
    p #[b Селект с мультивыбором со вставкой текста в кнопку]
    +custom-select({error: "Выберите тему обращения", optionsList: [{text: "Тема 1", value: "id-1", isActive: true}, {text: "Тема 2", value: "id-2"}, {text: "Тема 3", value: "id-3"}, {text: "Тема 4", value: "id-4"}, {text: "Тема 5", value: "id-5"}, {text: "Тема 6", value: "id-6"}]})(data-select, data-validate-type="select", data-name="some-name", data-id="id-example-5", data-multiple="true", data-insert="true").custom-select
    p Если селект находится внизу страницы или внизу модального окна и не хватает высоты для его открытия, повесте на него класс #[b "open-up"]
    +custom-select({error: "Выберите тему обращения", optionsList: [{text: "Тема 1", value: "id-1", isActive: true}, {text: "Тема 2", value: "id-2"}, {text: "Тема 3", value: "id-3"}, {text: "Тема 4", value: "id-4"}, {text: "Тема 5", value: "id-5"}, {text: "Тема 6", value: "id-6"}]})(data-select, data-validate-type="select", data-name="some-name", data-id="id-example-6", data-multiple="true", data-insert="true").custom-select.open-up
